* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.container {
    max-width: 80%;
    margin: 0 auto;
}
body {
    background-color: #DEE2E6;
}
a {
    text-decoration: none;
    color: inherit;
}